body{
    margin-left: 20%;
    margin-right: 30%;
    background-image: url(01sky.jpg);
    color: white;
}
p{
    border: solid dotted white;
    
}

#p02{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 1000px;
    height: 100px;
    overflow: auto;
    border: 1px groove rgb(255, 255, 255);
    padding: 1%;
    margin-right: 50px;
    margin-top: 30px;
    
}
.first{
    font-family: 'Courier New', Courier, monospace;
}

